@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Expense>




<div class="text-center">
    <h1 class="display-4">Expense</h1>
</div>

<a class="btn btn-primary mb-4" href="Create">Create</a>

<br />
<table class="table table-bordered">
    @foreach (var p in Model)
    {
        <tr>
            <th>@p.ExpenseId</th>
            <th>@p.Value</th>
            <th>@p.Description</th>
            <th>
                <a class="btn btn-primary" asp-action="Create" asp-route-id="@p.ExpenseId" style="margin-right:5px">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@p.ExpenseId">Delete</a>
            </th>
        </tr>
    }
</table>
<h3 class="card">
    Expenses = 
    @Model.Sum(p => p.Value)
</h3>